<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ushisantoasobu.ikyusan" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GroupListActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name=".activity.TopicListActivity"
            android:label="@string/title_activity_topic_list" >
        </activity>
        <activity
            android:name=".activity.IdeaListActivity"
            android:label="@string/title_activity_idea_list" >
        </activity>
        <activity
            android:name=".activity.LikeListActivity"
            android:label="@string/title_activity_like_list" >
        </activity>
        <activity
            android:name=".activity.GroupCreateActivity"
            android:label="@string/title_activity_group_create" >
        </activity>
        <activity
            android:name=".activity.IdeaCreateActivity"
            android:label="@string/title_activity_idea_create" >
        </activity>
        <activity
            android:name=".activity.TopicCreateActivity"
            android:label="@string/title_activity_topic_create" >
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".activity.NotificationListActivity"
            android:label="@string/title_activity_notification_list" >
        </activity>
        <activity
            android:name=".activity.GroupEditActivity"
            android:label="@string/title_activity_group_edit" >
        </activity>
    </application>

</manifest>
